<a href="https://colab.research.google.com/github/yal521/DSCI441-machine-learning-project/blob/main/Get_sample_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**This Get_sample_data.ipynb is used for randomly selecting a subset of dataset1_creditcard.csv because dataset1_creditcard.csv is too big to be uploaded in the GitHub.**

In [2]:
# Import libraries

import os
import numpy as np
import pandas as pd
from google.colab import drive

In [3]:
# Load the data and read the first few lines of data

drive.mount('/content/drive')
os.chdir('/content/drive/MyDrive/Yang_DSCI441_Final_Project')
Credit_data = pd.read_csv("dataset1_creditcard.csv")
Credit_data.head()

Mounted at /content/drive

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
# The shape of Credit_data
Credit_data.shape

(284807, 31)

In [ ]:
# Sample n rows randomly from the Credit_data
n = 180000  # specify the number of rows you want to select
sampled_Credit_data = Credit_data.sample(n)# Save the sampled data to a CSV file
sampled_Credit_data.to_csv('/content/drive/MyDrive/Yang_DSCI441_Final_Project/sampled_Credit_data.csv', index=False)

In [5]:
Credit_data1 = pd.read_csv("sampled_Credit_data-2.csv")
Credit_data1.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,136495.0,1.891340,-0.941703,-0.465693,0.822444,-1.053182,-0.418160,-0.599302,-0.038268,0.063975,...,-0.713578,-1.674146,0.424086,-0.271521,-0.533762,-1.065501,0.049795,-0.011126,100.11,0
1,38571.0,-0.429903,0.167311,0.647957,-1.936330,0.660004,-0.624739,0.575645,0.100204,0.642102,...,0.125645,0.444372,-0.290911,-0.292411,0.440147,-0.694727,0.039023,-0.010394,1.00,0
2,26672.0,-1.204670,0.074550,1.778099,1.433339,0.167659,0.349178,0.858258,0.177383,-0.940010,...,0.165821,0.247312,0.166215,0.231063,0.497426,-0.168165,0.030430,0.087186,177.00,0
3,156508.0,-11.521712,9.654525,-9.368721,-0.983806,-6.521962,-2.304209,-6.099734,8.252839,0.976392,...,0.536635,0.732827,1.127417,-0.059780,0.766781,-0.088046,0.561914,0.504720,19.99,0
4,79672.0,-1.406149,-0.054912,2.723919,-0.979521,0.449242,0.560431,-0.245460,0.676369,0.245946,...,0.086798,0.154142,-0.159691,-0.285275,0.213553,0.118448,0.011163,0.048650,4.99,0

In [7]:
Credit_data1.shape

(180000, 31)